<h1 style="text-align: center; font-weight: bold;"><font face="arial">Dorsz z sałatk&#261; z pomidora </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>pieprz biały  -  szczypta [1g]</li><li>curry w proszku  -  szczypta [1g]</li><li>szczypiorek  -  2 łyżki [16g]</li><li>migdały  -  łyżka [10g]</li><li>sezam  -  ½ łyżeczki [2g]</li><li>pomidor  -  2 małe [300g]</li><li>rzodkiewka, kiełki  -  łyżka [10g]</li><li>dorsz pacyficzny, świeży  -  filet [150g]</li><li>oliwa z oliwek  -  2 łyżki [20g]</li><li>ziemniaki, obrane  -  3 sztuki [200g]</li><li>sok ze świeżej limonki  -  4 łyżki [25g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Przyprawion&#261; rybę ugotuj na parze. Wyjmij skrop sokiem z cytryny i łyżk&#261; oliwy. Podawaj z ćwiartkami pomidora posypanymi szczypiorkiem, czarnuszk&#261; i kiełkami. Danie zjedz z ugotowanymi ziemniakami.</p>
<p>&nbsp;</p>
