<h1 style="text-align: center; font-weight: bold;"><font face="arial">Jajka sadzone </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>bazylia suszona  -  2 szczypty [2g]</li><li>jaja kurze całe  -  2 szt.</li><li>oliwa z oliwek  -  łyżka [10g]</li><li>chleb graham  -  kromka [21g]</li><li>natka pietruszki  -  2 łyżeczki posiekanej [8g]</li><li>pomidor koktajlowy  -  ok. 11 szt. [220g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Jajka przygotuj jako "sadzone" na patelni bez tłuszczu, posyp bazyli&#261;. Pomidorki rozkrój, skrop oliw&#261; i posyp natk&#261;. Zjedź z kromk&#261; pieczywa.</p>
<p>&nbsp;</p>
