<h1 style="text-align: center; font-weight: bold;"><font face="arial">Kasza jaglana z pomarańcz&#261; </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>kasza jaglana, suchej  -  6 łyżek [60g]</li><li>jogurt naturalny, 2% tłuszczu  -  ½ szklanki [125g]</li><li>słonecznik, nasiona łuskane  -  2 łyżki [20g]</li><li>pomarańcza, obrana  -  mała sztuka [100g]</li><li>nasiona chia, suszone  -  łyżeczka [5g]</li><li>miód pszczeli  -  łyżeczka [7g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Ugotowan&#261; i odcedzon&#261; kaszę wymieszaj z jogurtem, słonecznikiem i chia. Wkrój owoc.</p>
<p>&nbsp;</p>
