<h1 style="text-align: center; font-weight: bold;"><font face="arial">Lista zakupów (2018-02-17)</font></h1>
<p>&nbsp;</p>
<h2>Posiłki:</h2>
<p><ul>
<li>Deser bananowy </li><li>Kasza jaglana z pomarańcz&#261; </li>
</ul></p>
<p>&nbsp;</p>
<h2>Do kupienia:</h2>
<p style="text-indent: 20px;"><li>kasza jaglana, suchej  -  6 łyżek [60g]</li><li>jogurt naturalny, 2% tłuszczu  -  ½ szklanki [125g]</li><li>czekolada gorzka  -  2 kostki [10g]</li><li>banan  -  średnia sztuka [115g]</li></p>
<p>&nbsp;</p>
