<h1 style="text-align: center; font-weight: bold;"><font face="arial">Lista zakupów (2018-02-14)</font></h1>
<p>&nbsp;</p>
<h2>Posiłki:</h2>
<p><ul>
<li>Indyk z pieczonymi burakami </li><li>Koktajl awokado – ananas </li>
</ul></p>
<p>&nbsp;</p>
<h2>Do kupienia:</h2>
<p style="text-indent: 20px;"><li>pieprz  -  szczypta [1g]</li><li>curry w proszku  -  ½ łyżeczki</li><li>dynia, pestki  -  łyżka [10g]</li><li>ananas  -  2 plastry [60g]</li><li>pietruszka, liście  -  mały pęczek [30g]</li></p>
<p>&nbsp;</p>
