<h1 style="text-align: center; font-weight: bold;"><font face="arial">Makaron z indykiem i selerem naciowym </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>oliwa z oliwek  -  łyżka [10g]</li><li>pomidor koktajlowy  -  5 sztuk [100g]</li><li>sok ze świeżej cytryny  -  4 łyżki [26g]</li><li>seler naciowy  -  2 sztuki [60g]</li><li>awokado  -  pół sztuki [70g]</li><li>pieprz, mielony  -  do smaku [1g]</li><li>makaron pełnoziarnisty, suchy  -  [60g]</li><li>mięso z podudzia indyka, bez skóry  -  [120g]</li><li>czosnek  -  mały z&#261;bek [3g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Mięso natrzyj zmiażdżonym czosnkiem i ugotuj na parze. Następnie pokrój w kawałki i wymieszaj z pokrojonymi w cz&#261;stki warzywami. Skrop oliw&#261; i sokiem. Zjedz z ugotowanym makaronem.</p>
<p>&nbsp;</p>
