<h1 style="text-align: center; font-weight: bold;"><font face="arial">Makaron z kurczakiem i cukinią </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>sól biała  -  szczypta [1g]</li><li>pulpa pomidorowa  -  ½ szklanki [110g]</li><li>cebula, obrana  -  ½ małej sztuki [35g]</li><li>olej rzepakowy  -  łyżka [10g]</li><li>makaron pełnoziarnisty, suchy  -  szklanka [70g]</li><li>oregano suszone  -  szczypta [1g]</li><li>pieprz czarny  -  szczypta [1g]</li><li>dynia, pestki  -  2 łyżki [20g]</li><li>cukinia  -  ½ mniejszej sztuki [129g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Ugotuj makaron. Zeszklij cebulę na patelni na oleju. Dodaj pokrojonego kurczaka, następnie cukinię. Po 10-15 min dodaj pomidory, przyprawy i duś do miękkości. Ułóż makaron na talerzu. Na talerz przełóż makaron z sosem i posyp pestkami dyni.</p>
<p>&nbsp;</p>
