<h1 style="text-align: center; font-weight: bold;"><font face="arial">Pasta z awokado z jogurtem </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>ser twarogowy półtłusty  -  plaster [50g]</li><li>awokado  -  3 sztuki [100g]</li><li>jogurt naturalny, 2% tłuszczu  -  3 łyżki [60g]</li><li>pieprz, mielony  -  szczypta [1g]</li><li>otręby pszenne  -  5 łyżek [30g]</li><li>chleb graham  -  2 kromki [60g]</li><li>bazylia świeża  -  [5g]</li><li>papryka mielona  -  szczypta [1g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Zmiksuj awokado, twaróg, otręby i jogurt. Przypraw i zjedź z pieczywem.</p>
<p>&nbsp;</p>
