<h1 style="text-align: center; font-weight: bold;"><font face="arial">Szaszłyki z ryżem </font></h1>
<p>&nbsp;</p>
<h2>Lista składników:</h2>
<p><ul>
<li>cukinia  -  [80g]</li><li>pomidorki koktajlowe  -  2 szt. [40g]</li><li>passata pomidorowa  -  2 łyżki [20g]</li><li>brokuły  -  [200g]</li><li>bazylia suszona  -  szczypta [1g]</li><li>olej rzepakowy  -  łyżka [10g]</li><li>jabłko  -  małe [100g]</li><li>pierś indyka, bez skóry  -  porcja [120g]</li><li>sok ze świeżej cytryny  -  3 łyżki [20g]</li>
</ul></p>
<p>&nbsp;</p>
<h2>Sposób przygotowania:</h2>
<p style="text-indent: 20px;">Mięso i cukinię pokrój w cząstki i wymieszaj z olejem, sokiem, koncentratem i przyprawami. Odstaw na godzinę do lodówki. Owoc pokrój w cząstki. Na patyczki do szaszłyków nadziewaj na zmianę składniki. Szaszłyki upiecz w piekarniku aż mięso będzie miękkie. Zjedz z ugotowanym ryżem i ugotowanym na parze brokułem.</p>
<p>&nbsp;</p>
